node_modules
dist
coverage
tests

.git
.gitignore
.gitattributes

.env
.env.*
!.env.example

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.vscode
.idea

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

README.md
*.md

kis_api
.pnpm-store
